.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: transparent;
}

.homepagebackground {
  background-image: url("caro-01.png");
  background-color: #cccccc;

}

.navbar {
  width:100%;
  height:30px;
  background-color: #81C4FF;
}

.menubar {
  width:100%;
  height:30px;
  background-color:transparent;
  font-family: Helvetica;
  font-size: 16px;
  color: black;
  display: inline-block;
  list-style: none;
  text-align: center;
}

.ul {
  text-align: center;
  font-family: Helvetica;
  font-size: 16px;
  color: black;
}

.navbar-default {
  color:#ffffff;
}

.a{
  font-family: Helvetica;
  color: black;
  font-size: 16px;
}
