
h2 {
  font-family: 'Lora'serif;
  color: black;
  font-size: 18px;
}

body {
  font-family: 'Lora'serif;
  color: black;
  font-size: 14px;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
}

.homepagebackground {
  background-image: url("../../images/home-01.png");
  background-size: 85%;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  background-position: center;
  padding-left: none;

}

.navbar {
  width:100%;
  height:30px;
  background-color: #ffffff;
}

.menubar {
  width:100%;
  height:30px;
  background-color:transparent;
  font-family: 'Lora'serif;
  font-size: 16px;
  color: black;
  display: inline-block;
  list-style: none;
  text-align: center;
}

ul {
  text-align: center;
  font-family: 'Lora'serif;
  font-size: 16px;
  color: black;
}

.navbar-default .navbar-brand {
  color:black;
}

a {
  font-family: 'Lora'serif;
  color: black;
  font-size: 16px;
}

a:hover {
  text-decoration: none;
  color: black;
}

.container my_container {
  padding:100px;
  border-color:gray;
}

.row {
  padding:100px;
  
}

div.row {
  width: auto;
  height: auto;
}
