<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700' rel='stylesheet' type='text/css'>
  <title> Caroline DeFelice Portfolio - Homepage </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">

<div class="container">

  <div class="navbar-header">

  <a class="navbar-brand" href="/">Caroline DeFelice</a>

</div>
  </div>
</nav>

    <div class="row">
      <div class = "col-sm-12">
        {{content}}
</div>
</div>


    </div>


<footer class="footer footer-fixed-bottom">
  <div class="container">

    <p class="text-muted" This is my bottom nav bar.</p>

      <ul class="list-unstyled list-inline">

        <li> <a href="/">Home</a></li>
        <li> <a href="photography.html">Photography</a></li>
        <li> <a href="graphic.html">Graphic</a> </li>
        <li> <a href="web.html">Web</a> </li>
        <li> <a href="contact.html">Contact</a></li>

      </ul>

    </div>
  </footer>

</body>
</html>
